h1{
  text-align: center;
  color: rgb(70, 70, 170);
}
h2 {
  text-align: center;
}
h3 {
  margin: 1rem auto;
  text-align: center;
}
ul{  
  margin: 0 1rem;
}
li{
  margin: 0 1rem;
}
p{
  
  text-align: justify;
}
img {
  margin: 0 auto;
  max-width: 80%;
}
.childcards{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px; 
  text-align: left;
}
.container {
  display: flex;
  flex-flow: column;
  margin: 1rem 1rem; 
}
.footer {
  text-align: right;
  font-style: italic;
  color: gray;
  margin: 2rem 2rem;
}
.me {
  display: flex;
  flex-direction: column;
}
.contactos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* modal */

.field {
  margin: 1rem auto;
}

.field label {
  display: block;
  font-size: 12px;
  color: #777;
}

.field input {
  display: block;
  min-width: 240px;
  line-height: 2;
  font-size: 14px;
 
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: block;
}


/*Desktop*/

@media (min-width: 900px){
.container {
    display: flex;
    flex-wrap: wrap;
    flex-flow:row;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1400px;
    margin: 0 auto;
}
.container section{
  flex-basis: 30rem;
  margin: 1rem;
}}

/*.container{
  display: flex;
  flex-wrap: wrap;
  flex-flow:row;
  justify-content: space-around;
  align-items: stretch;
  max-width: 1100px;
  margin: 0 auto;
}

/*.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  grid-template-columns: 50% minmax(0, 1fr);
}
*/

/*  Para mudar a posição dos elementos da grid: 
{
    grid-row: 2;
    grid-column: 1;
}  
*/

/*.row {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
*/
/*.contactos img {
  max-width: 50px;
  max-height: 50px;
  margin: 0 10px 0 0;
}*/




